*{
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
}
nav{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
a{
    text-decoration: none;
    color: white;
    border:solid black 1px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 5px;
    background-color: black;
}    

img.logo{
    width: 10%;
    height: 10%;
}

img {
    height: 20vh;
}
div{
    margin: 10px;
}

body {
    background-color: white;
}

footer {
    background-color: black;
    text-align: center;
    padding: 3px;
    color: white;
    width: 100%;
}

@media (max-width: 768px) {
    header{
        display: block;
    }
    nav{
        display: block;
        height: auto;
    }
    a{
        display: block;
        text-align: center;
    }
}

@media (max-width: 460px) {
    header{
        display: block;
    }
    nav{
        display: block;
        height: auto;
    }
    a{
        display: block;
        text-align: center;
    }
}