*{
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
}
nav{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
    border:solid black 1px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 5px;
} 
img.producto{
    height: 20vh;
}
div{
    margin: 10px;
}

@media (max-width: 768px) {
    header{
        display: block;
    }
    nav{
        display: block;
        height: auto;
    }
    a{
        display: block;
        text-align: center;
    }
}

@media (max-width: 460px) {
    header{
        display: block;
    }
    nav{
        display: block;
        height: auto;
    }
    a{
        display: block;
        text-align: center;
    }
}