*{
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
}
nav{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
    border:solid black 1px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 5px;
} 

body {
    background-color: #9fd0ec;
}
img.logo{
    height: 10%;
    width: 10%;
}
img{
    height: 20vh;
}

footer {
    background-color: rgb(26, 26, 77);
    text-align: center;
    position: fixed;
    padding: 15px;
    bottom: 0;
    color: white;
    border-radius: 10px;
    width: 100%;
}

@media (max-width: 768px) {
    body {
        background-color: #9fd0ec;
    }
    header{
        display: block;
    }
    nav{
        display: block;
        height: auto;
    }
    a{
        display: block;
        text-align: center;
    }
}

@media (max-width: 460px) {
    body {
        background-color: #9fd0ec;
    }
    header{
        display: block;
    }
    nav{
        display: block;
        height: auto;
    }
    a{
        display: block;
        text-align: center;
    }
}