*{
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
}

img.logo{
    width: 10%;
    height: 10%;
    border-radius: 10px;
}

nav{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    justify-self: center;
}
a{
    text-decoration: none;
    color: black;
    border:solid black 1px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 5px;
}   

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div{
    border: solid black 1px;
    padding: 10px;
    margin: 5px 5px ;
    width: 250px;
    /* flex-grow: 1; */
}

section img{
    width: 200px;
}

/* pongo el display en block (bloque) para que ocupe todo el renglon, porque con inline uno de los botones queda cortado */
section a{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    background-color: #9fd0ec;
}

footer {
    background-color: rgb(26, 26, 77);
    text-align: center;
    position: fixed;
    padding: 15px;
    bottom: 0;
    color: white;
    border-radius: 10px;
    width: 100%;
}

@media (max-width: 768px) {
    header{
        display: block;
    }
    nav{
        display: block;
        height: auto;
    }
    a{
        display: block;
        text-align: center;
    }
}

@media (max-width: 460px) {
    header{
        display: block;
    }
    nav{
        display: block;
        height: auto;
    }
    a{
        display: block;
        text-align: center;
    }
}