*{
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
}

img.logo{
    width: 10%;
    height: 10%;
}

nav{
    display: flex;
    margin-left: 50px;
    align-items: flex-end;
    justify-content: center;
}
a{
    text-decoration: none;
    color: white;
    border:solid black 1px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 5px;
    background-color: rgb(26, 26, 77);
}   

body {
    background-color: #94d3f8;
    text-align: center;
}

footer {
    background-color: rgb(26, 26, 77);
    text-align: center;
    padding: 3px;
    color: white;
    width: 100%;
}
@media (max-width: 768px) {
    header{
        display: block;
    }
    nav{
        display: block;
        height: auto;
    }
    a{
        display: block;
        text-align: center;
    }
}

@media (max-width: 460px) {
    header{
        display: block;
    }
    nav{
        display: block;
        height: auto;
    }
    a{
        display: block;
        text-align: center;
    }
}